.odd{
    background-color: pink;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#two{
    color: blue;
    font-size: 36px;
}
.oddly-cool{
    color: blueviolet;
    font-size: 30px;
}
#four{
    background-color: lightgreen;
    color: black;
    font-size: 24px;
    font-weight: bold;
}
a{
    background-color: blue;
    color: white;
    font-size: 20px;
}